<div class="sidebar" id="sidebar">
  <div class="header">
    <h1 class="title"><a href="/"><img id="logo" src="/images/logo.png"></a></h1>
    <span class="tagline">Personal Blog and Record of Work</span>
  </div>
  <div class="posts">
    <ul class="posts-list">
      {% for post in site.posts %}
        <li class="post-link">
          <a class="post-title" href="{{ post.url }}">
            <span class="post-date">{{ post.date | date_to_string }}</span>
            {{ post.title }}
          </a>
        </li>
      {% endfor %}
    </ul>
  </div>
  <div class="footer">
    <span id="footer-links">
      <a href={{ site.baseurl }}"/heather_poole_cv.html" class="footer-link">CV</a> <span class="separator">&bull;</span>
      <a href="https://twitter.com/pheonnexx" class="footer-link">Twitter</a> <span class="separator">&bull;</span>
      <a href="https://github.com/pheonnexx/" class="footer-link">GitHub</a>
    </span>
  </div>
</div>
